.venv
venv
env

__pycache__
*.pyc
*.pyo
*.pyd
.Python

.vscode
.idea
*.swp

.git
.gitignore

test.py
*.test.py
tests/

*.db

*.log
logs/

.DS_Store
Thumbs.db

.env
.python-version
docker-compose.yaml
README.md
main.py