GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret
GOOGLE_CALENDAR_REDIRECT_URI=http://localhost:8001/calendar/oauth/callback

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=your_redis_password

BOT_TOKEN=your_bot_token

DB_TYPE=sqlite
SQLITE_PATH=/app/data/db/database.db

# Только если postgres:
DB_HOST=your_db_host
DB_PORT=5432
DB_USER=your_db_user
DB_PASSWORD=your_db_password
DB_NAME=your_db_name
DB_DEBUG=False

FASTAPI_CALENDAR_HOST=fastapi-calendar
FASTAPI_CALENDAR_PORT=8001
MCP_CALENDAR_HOST=mcp-calendar
MCP_CALENDAR_PORT=8002

LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY=your_langsmith_key
LANGSMITH_PROJECT=your_project_name

LANGFUSE_SECRET_KEY=your_langfuse_secret
LANGFUSE_PUBLIC_KEY=your_langfuse_public
LANGFUSE_BASE_URL=https://cloud.langfuse.com

TEMPERATURE=0.1
MAX_TOKENS=30000
VERBOSE=False
TIMEOUT=60
TOP_P=0.7

OLLAMA_MODEL=your_model_name
OPENAI_MODEL = your_model_name
OPENAI_API_KEY=your_api_key